<div class="aboutUsContainer">
    <div class="aboutText">
        <div class="aboutNosotros">
            <span class="lineTitle"></span>
            <div class="title">
                Sobre Nosotros
            </div>
        </div>
        <div class="aboutSombraText">
            <p>Sobre <br><span>Nosotros</span></p>
        </div>
        <div class="aboutTexto">
            Texto inspirador aqui <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Repudiandae libero nesciunt pariatur impedit, quod quas mollitia 
            maxime molestiae quae sequi ab, neque qui! Quae, repellendus eligendi sunt 
            ipsum fuga nihil?
        </div>
        <div class="aboutFirma">
            <img src="../../../assets/imagenes/firma.jpg" alt=""/>
        </div>
    </div>
    <div class="aboutImage">
        <img src="../../../assets/imagenes/fotografo.jpg"alt=""/>
    </div>
    
</div>
