<div class="servicesContainer">
    <div class="serviceTitle">
        <span class="lineTitle"></span>
        <div class="title">
            Nuestros Servicios
        </div>
    </div>
    <div class="servicesContent">
        <div class="contentDiv">
            <div class="serviceicon">
                <img src="../../../assets/icons/computer.png" alt=""/>
            </div>
            <div class="serviceText">
                <p>Fotografía</p>                            
                <span>Leer más...</span>
            </div>
        </div>
        <div class="contentDiv">
            <div class="serviceicon">
                <img src="../../../assets/icons/drone.png" alt=""/>
            </div>
            <div class="serviceText">
                <p>Fotografía Aerea</p>                            
                <span>Leer más...</span>
            </div>
        </div>
        <div class="contentDiv">
            <div class="serviceicon">
                    <img src="../../../assets/icons/film.png" alt=""/>
            </div>
            <div class="serviceText">
                <p>Servicio3</p>                            
                <span>Leer más...</span>
            </div>
        </div>
        <div class="contentDiv">
            <div class="serviceicon">
                <img src="../../../assets/icons/computer.png" alt=""/>
            </div>
            <div class="serviceText">
                <p>Servicio4</p>                            
                <span>Leer más...</span>
            </div>
        </div>
        <div class="contentDiv">
            <div class="serviceicon">
                <img src="../../../assets/icons/photograph.png" alt=""/>
            </div>
            <div class="serviceText">
                <p>Servicio5</p>                            
                <span>Leer más...</span>
            </div>
        </div>
        <div class="contentDiv">
            <div class="serviceicon">
                <img src="../../../assets/icons/video-camera.png" alt=""/>
            </div>
            <div class="serviceText">
                <p>Servicio6</p>                            
                <span>Leer más...</span>
            </div>
        </div>
    </div>
</div>
